name: Test Snowglobe

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  unittest:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.7, 3.8, 3.9, '3.11']
    steps:
    - uses: actions/checkout@v3
    - name: Install poetry
      run: |
        python -m pip install pip --upgrade
        pip install poetry
        poetry config virtualenvs.prefer-active-python true
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: poetry update
    - name: Lint
      if: matrix.python-version == '3.11'
      run: poetry run sh scripts/lint.sh
    - name: Tests
      run: poetry run sh scripts/coverage.sh
    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v3
      with:
        file: ./coverage.xml
